  
   
div.onglet
{       positon:relative;
  border-style: solid; 
  border-width: 1px;
  border-color:#888888;
 padding: 0;
 background-color: #CCFFCC; 
 border-radius: 10px; 
}


/* Menu */
/*
[menu_onglet]div
{       positon:relative;
  border-style: solid; 
  border-width: 1px;
  border-color:#888888;
 padding: 0;
 background-color: #CCFFCC; 
 border-radius: 10px; 
}
*/

/*
[menu_onglet]
{

  list-style:none;
	padding:0;
	margin-bottom:3em;
	margin-top:-2em;  
  }
*/

/*
#menu li
{
	display:inline;
}
	font-weight: bold;
	font-size: 12px;
	color: #FFF;
	background: url("/prog-tv/ongletRedL.gif") no-repeat bottom left;
	height: 23px;

	padding: 0 0 0 9px;
	display: block;
	float: left;
	margin-right: 2px;
  
*/
[menu_onglet] 
{
	display:block;
	float: left;
	line-height: 28px;    
	/*padding-left:0px;*/
}
  
[menu_onglet] li a
{
	background:#98B924;
	color:#fff;
	border:1px solid #89a;
	text-decoration:none;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	behavior: url(script/PIE.htc);
	margin:0;
	padding:5px 20px;
}

[menu_onglet] li  span 
{
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	behavior: url(script/PIE.htc);
	margin:0;
	padding:5px 20px;
	font-weight: bold ;
  cursor: pointer;
}


.menu_disabled
{
	background:#192982; /*onglets non selectionne*/
	color:#999999;
}
.menu_enabled
{
	background:#2669BC; /*onglets selectionne*/
	color:#00F4FD;
}

[menu_onglet] li a:hover,[menu_onglet] li a:focus
{
	background:#ff0000;
	color:#000;
}
      
[menu_onglet] li span:hover,[menu_onglet] li span:focus
{
	background:#8080FF; /*onglets survole*/
	color:#000;
}
